@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 75 80% 98%;
    --foreground: 83 80% 4%;
    --card: 75 80% 98%;
    --card-foreground: 83 80% 4%;
    --popover: 75 80% 98%;
    --popover-foreground: 83 80% 4%;
    --primary: 77 85% 54%;
    --primary-foreground: 83 80% 4%;
    --secondary: 149 86% 70%;
    --secondary-foreground: 83 80% 4%;
    --muted: 75 80% 20%;
    --muted-foreground: 83 80% 70%;
    --accent: 177 85% 63%;
    --accent-foreground: 83 80% 4%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 83 80% 4%;
    --border: 75 80% 20%;
    --input: 75 80% 20%;
    --ring: 177 85% 40%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 75 80% 2%;
    --foreground: 83 80% 96%;
    --card: 75 80% 2%;
    --card-foreground: 83 80% 96%;
    --popover: 75 80% 2%;
    --popover-foreground: 83 80% 96%;
    --primary: 77 85% 46%;
    --primary-foreground: 75 80% 2%;
    --secondary: 149 86% 30%;
    --secondary-foreground: 75 80% 2%;
    --muted: 75 80% 80%;
    --muted-foreground: 83 80% 96%;
    --accent: 177 85% 37%;
    --accent-foreground: 75 80% 2%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 83 80% 10%;
    --border: 75 80% 60%;
    --input: 75 80% 80%;
    --ring: 177 85% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .border-b-dim-gray {
     @apply border-b-white
  }
}

.recharts-text {
  color: white;
}
